@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Courier, monospace;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar {
    background-color: #1C92D4;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding-top: 1.2em;
}

#logo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.8em;
    padding-left: 0.7em;
}

#logo>img {
    width: 2em;
    height: 2em;
}

.sidebar-nav-group {
    margin-top: 3em;
    padding-left: 2.2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.sidebar-nav-group>div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.sidebar-nav-group>div>img {
    width: 1.1em;
    height: 1.1em;
}

#sidebar .sidebar-nav-group:nth-child(3) {
    margin-top: 5em;
}

#header {
    background-color: #FFFFFF;
    grid-column: 2 / -1;
    padding: 1em 4em 1em 3em;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#header>div {
    display: grid;
    grid-template-columns: auto 6fr auto auto auto;
    align-items: center;
    column-gap: 24px;
}

#header>div:nth-child(1) {
    margin-bottom: 1.5em;
}

#header>div:nth-child(1)> :nth-last-child(-n+3) {
    justify-self: center;
}

#header>div:nth-child(1)> :nth-child(3) {
    margin-left: 10em;
}

#header img {
    width: 1.5em;
    height: 1.5em;
}

#header>div:nth-child(1)> :nth-last-child(1) {
    font-weight: 700;
    font-size: 1.1em;
}

#header>div>input {
    background-color: #e2e8f0;
    border: none;
    font-size: 1.7em;
    border-radius: 100px;
    padding-left: 0.5em;
}

.profile-pic {
    background-image: url(assets/icons/avatar.svg);
}

.profile-pic.small {
    width: 3em;
    height: 3em;
}

.profile-pic.large {
    width: 4.5em;
    height: 4.5em;
}

#header-greet-text {
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

#header-username-text {
    font-size: 1.5em;
    font-weight: 700;
}

.header-button {
    color: white;
    background-color: #1C92D4;
    border: none;
    border-radius: 100px;
    font-size: 1em;
    font-weight: 900;
    padding: 0.6em 2em 0.6em 2em;
}

#main-content {
    background-color: #E2E8F0;
    padding: 2em 1.7em 4em 1.3em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
}

.section-heading {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0.7em;
}

#projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 2em;
}

.project-card {
    background-color: white;
    border-left: 8px solid #F0B434;
    border-radius: 7px;
    padding: 2em 0.7em 2em 1.3em;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-rows: auto auto 1fr;
}

.project-card>p:nth-child(1) {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.2em;
}

.project-card>p:nth-child(2) {
    font-size: 0.9em;
    color: #828282;
}

.card-actions {
    align-self: end;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 1.5em;
    margin-top: 1em;
    margin-right: 1em;
}

.card-actions>img {
    width: 1.5em;
    height: 1.5em;
    filter: invert(14%) sepia(0%) saturate(1%) hue-rotate(189deg) brightness(104%) contrast(87%);
}

#main-content-extras>div:nth-child(1) {
    margin-bottom: 2.5em;
}

#announcements-grid {
    background-color: white;
    padding: 1em 1.5em 0.5em 1.5em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

#announcements-grid>div {
    padding-top: 1em;
    padding-bottom: 1em;
}

#announcements-grid>div:not(:last-child) {
    border-bottom: 1px solid #cfcece;
}

#announcements-grid>div>p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#announcements-grid>div>p:nth-child(1) {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 0.1em;
}

#announcements-grid>div>p:nth-child(2) {
    font-size: 0.7em;
    font-weight: 400;
    color: #828282;
}

#trending-grid {
    background-color: white;
    padding: 1.5em 1em 1.5em 1.5em;
    border-radius: 10px;
    display: grid;
    row-gap: 1em;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

#trending-grid>div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

#trending-grid>div>img {
    width: 3em;
    height: 3em;
}

#trending-grid>div>div>p:nth-child(1) {
    font-size: 0.8em;
    margin-bottom: 0.2em;
}

#trending-grid>div>div>p:nth-child(2) {
    font-size: 0.8em;
    color: #828282;
}